* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

body,
button,
textarea,
select,
input {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  /* background-color: #f4f7f4e8; */
  background-image: linear-gradient(
    135deg,
    rgb(122, 8, 133),
    rgb(231, 79, 231),
    rgba(122, 8, 133, 100)
  );
}
header {
  background-color: #fff;

  height: 80px;
}
header .navbar {
  display: flex;
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

header .navbar .nav-brand {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

header .navbar .nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

header .navbar .nav-list .nav-item a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 500;
}
header .navbar .nav-list .nav-item a:hover {
  color: #7a0885;
  transition: 200ms;
  text-decoration: overline;
}
header .navbar #hamburguer-menu {
  display: none;
}

@media (max-width: 740px) {
  header .navbar #hamburguer-menu {
    display: flex;
  }
  header .navbar .nav-list {
    display: none;
  }
}

/* SECTION BANNER */
main {
  margin-top: 6rem;
}
main #banner {
  justify-content: space-between;
  display: flex;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}
main #banner #banner-content #banner-content-title {
}

main #banner #banner-content .banner-content-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 500px;
  margin-bottom: 38px;
}
main #banner #banner-content .banner-content-btn {
  /* background-color: #00a8cc; */
  background-color: #bb5ed3;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 2px;
  padding: 8px 24px;
  border: none;
}
main #banner .banner-image {
  border-radius: 50%;
  width: 100%;
  max-width: 300px;
}
@media (max-width: 920px) {
  main #banner {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
    text-align: justify;
  }
}

/* SECTION POSTS */

section#posts {
  margin-top: 70px;
  background-color: rgb(160, 27, 160);
}
#posts .posts-content {
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
#posts .posts-content .posts-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

#posts .posts-content .posts-content-header .view-all {
  text-decoration: none;
  color: #00a8cc;
}
#posts .posts-content .posts-content-header .section-title {
  font-size: 22px;
  font-weight: 500;
}
#posts .posts-content .posts-cards {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
#posts .posts-content .posts-cards .post-card {
  background-color: #fff;
  padding: 24px;
  display: block;
}
#posts .posts-content .posts-cards .post-card:hover {
  transition: 300ms;
  font-size: 23px;
}

#posts .posts-content .posts-cards .post-card h3 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 36px;
}
#posts .posts-content .posts-cards .post-card span {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 24px;
  display: block;
}

@media (max-width: 740px) {
  main #posts .posts-content .posts-cards {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: justify;
  }
}
